body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

section {
  margin: 20px;
}

h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

#myname {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5em;
  font-size: 1.5em;
}
#myname span {
  font-size: 0.8em;
}
#myname h1 {
  margin: 0;
}

@media (max-width: 768px) {
  #myname {
    font-size: 1em;
    padding: 2em;
  }
  #myname span {
    font-size: 1em;
  }
}

.project {
  margin-bottom: 20px;
}
